
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fw-500 {
    font-weight: 500 !important;
}

.screen-size{
    max-width: 1440px;
}

.nav-box {
    padding: 10px 56px !important;
    height: 70px  !important; 
  }
  
